body {
    margin: 0;
    background-color: hwb(235 88% 8%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    margin: 0;
    background-color: hwb(235 20% 70%);
    color: white;
    font-size: 65px;
}

section#escritorio{
    position: absolute;
    top:6rem;
    left: 12%;
    width: 33%;
    border-left: 2px solid hwb(235 20% 70%);
    border-right: 2px solid hwb(235 20% 70%);


}

section#internet{
    position: absolute;
    top: 6rem;
    right: 12%;
    width: 33%;
    border-left: 2px solid hwb(235 20% 70%);
    border-right: 2px solid hwb(235 20% 70%);


}

section h2{
    margin: 5px;
    background-color: hwb(235 20% 70%);
    color: white;
    font-size: 30px;
    text-align: center;
}


article {
    border-radius: 13px;
    margin: 30px;
    padding-bottom: 5px;
    background-color: white;
}


h3 {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding-left: 5px;
    padding-bottom: 0;
    margin: 0;
    background-color: hwb(125 15% 35%) ;
    font-size: 23px;
    color: white;

}

p {
    margin: 5px 5px;
}