* {
    font-family: 'Montserrat', sans-serif;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu a {
    display: block;
    background-color: #b6ecda;
    width: 150px;
    padding: 4px 2px;
    margin: 10px;
    text-align: center;
    color: rgb(83, 83, 83);
}

#menu li{
    float: right;
}


#menu a:hover{
    background-color: rgb(30, 241, 143);
}

h1 {
    margin: 10px;
    padding: 20px;
    display: block;
    font-size: 42px;

}

h2 {
    margin: 10px;
    padding: 20px;
    color: rgb(23, 24, 21);
    font-size: 32px;
}


h2 span {
    color: rgba(55, 220, 123, 0.98);
    font-size: 42px;
    font-family: 'Times New Roman', Times, serif;

}

.parrafo-1 {
    display: block;
    width: 950px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    border-top: 2px solid #46b491;
}

.parrafo-2 {
    display: block;
    width: 950px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    border-top: 2px solid #46b491;
}


.parrafo-3, .parrafo-4 {
    display: block;
    width: 950px;
    margin: 10px;
    padding: 20px;
    text-align: justify;
    border-top: 2px solid #46b491;
    font-size: 14px;
    font-weight: bold;
}

h3 {
    margin: 10px;
    padding: 20px;
}

ul li {
    width: 550px;
}

.cursivo {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.title {
    display: block;
    float: left;
}


.cuerpo {
    margin: 0 auto;
    width: 60%;
    max-width: 100%;
}

.foto-helsinki {
    width: 1000px;
    border-radius: 40px;
    transition: border-radius 0.2s;
}


.foto-suomenlinna {
    width: 350px;
    border-radius: 40px;
    transition: border-radius 0.2s;
    margin: 10px;
}

.foto-parque {
    width: 350px;
    border-radius: 40px;
    transition: border-radius 0.2s;
    margin: 10px;
}
.foto-bibloteca {
    width: 350px;
    border-radius: 40px;
    transition: border-radius 0.2s;
    margin: 10px;
}

.ayuntamiento {
    width: 350px;
    border-radius: 40px;
    transition: border-radius 0.2s;
    margin: 10px;
}

img:hover {
    border-radius: 10px;
}

#images {
    position: relative;
    left: 12%;
    width: 793px;
    height: 515px;
}

#temp {
    border-collapse: collapse;
    width: 30vw;
    border: none;
}

#temp td, #temp th{
    padding: 8px;
}

#temp tr:nth-child(even){background-color: #f5f4f4
}

#temp th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5ed5b0;
    color: white;
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}
td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

#temp {
    position: relative;
    left: 19%;
}


#temp tr:hover{
    background-color: antiquewhite;
}


.tiempo {
    margin-top: 70px;
}


#cabecera {
    width: 950px;
    height: auto;
    padding: 12px;
    overflow: hidden;
    border: 3px solid #dae5f0;
    margin: 0;
}

#info{
    margin-top: 25px;
    width: auto;
    max-width: 70%;
    min-width: 900px;
    position: relative;
    left: 15%;
    bottom: 0;
    padding: 10px;
    background-color: #d4dfec;
}

#x, #github{
    width: 39px;
    height: 39px;
    padding: 10px;
    overflow: hidden;
}

#yo{
    display: block;
    width: 79%;
    float: left;
    padding: 10px;

}

#enlaces li{
    padding: 5px;
}

#verified {
    float: left;
}

@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles */
    .cuerpo {
        margin: 0 auto;
        width: 100%;
    }
}