* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}


form{
    width:1000px;
    padding:16px;
    border-radius:10px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #7797bd, rgba(255, 255, 255, 0.63));

}

h1 {
    text-align: center;
    display: block;
    height: 50px;
    padding: 30px;
    border-radius: 30px;
    background-color: #b3c9e3;
}

h2 {
    text-align: center;
}


#datos-generales{
    width: 300px;
    height: 340px;
    padding: 10px;
}


#jornada{
    width: 400px;
    height: 100px;
}

#carnets {
    width: 300px;
    height: 230px;
}


#datos-generales label {
    display: inline-block;
    float: left;
    margin: 5px;

}

#carnets input {
    display: inline-block;
    float: left;
}

#carnets label {
    display: inline-block;
    float: left;
    margin: 5px;

}

#datos-generales input {
    display: inline-block;
    float: left;
}




#carnets p{
    display: block;
    float: left;
}



#carnets input {
    margin: 0.4rem;
    float: left;

}

#carnet-b {
    height: 110px;
}

#botones {
    margin-top: 16px;
}