#contact-form {
    width: 700px;
    margin: 0 auto;
}


input {
    margin-top: 15px;
    margin-bottom: 15px;
}

#edad {
    width: 50px;
}

#campo-mensaje {
    width: 150px;
    height: 100px;
    margin-top: 10px;
}

#mensaje {
    width: 200px;
    height: 43px;
    margin: 15px 15px 15px 0;
}

fieldset {
    border-radius: 30px;
}

h1 {
    text-align: center;
}