* {
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    border: 2px solid black;
    width: 480px;
    padding: 20px;
    margin: 0 auto;
}

.negrita {
    font-weight: bold;
    font-size: 15px;
}

#principal button{
    margin-top: 15px;
}

#principal input, select{
    background-color: #e17047;
}